.main-navigation {
	display: block;
	width: 100%;
	@include max-center;
	@include container;
	position: fixed;
	bottom: 0;
	z-index: 9999;
	background-color: $color__background-head;
	filter: drop-shadow(0 -6mm 4mm #435758);
	color: white;

	@media screen and (min-width: $tablet_size) {
		position: relative;
		@include flex-between();
		height: 5rem;
		filter: none;
	}

	//hamburger menu
	.menu-toggle {
		@include flex-col-center();
		cursor: pointer;
		position: fixed;
		bottom: 0.75rem;
		right: 3rem;
		background-color: transparent;
		border: 0;

		span {
			width: 2rem;
			height: 5px;
			display: block;
			background-color: rgb(255, 255, 255);
			border-radius: 5px;
		}

		@media (min-width: $tablet_size) {
			display: none;
		}
	}

	// .custom-logo-link {
	// 	display: inline;

	// 	@media screen and (min-width: $tablet_size) {
	// 		position: absolute;
	// 		left: 50%;
	// 		transform: translateX(-50%);
	// 		top: 0;
	// 	}
	// }

	// .custom-logo {
	// 	width: 5rem;
	// 	height: auto;
	// }

	//menu styling
	.menu {
		a {
			color: white;
			text-align: center;
			border-radius: 10px;
			padding: 0.5rem;
			&:hover {
				background-color: $color__link-hover;
			}
		}

		@media screen and (min-width: $tablet_size) {
			@include flex-center;
			gap: 2rem;
			text-align: right;
		}
	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: none; /* Remove float */
			position: static; /* Position relative to parent */
			display: none; /* Hide by default */
			padding-left: 1rem; /* Optional: Adjust padding */

			//desktop submenu
			@media screen and (min-width: $tablet_size) {
				box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
				position: absolute; /* Positioning for submenu */
				top: 100%; /* Position directly below parent li */
				left: 0; /* Align with left edge of parent li */
				background-color: $color__background-head; /* For visibility */
				display: none; /* Hide submenu by default */
				padding: 1rem; /* Optional: Adjust padding */
				z-index: 99999; /* Ensure it appears above other content */
			}
			li {
				&:hover > ul,
				&.focus > ul {
					display: block;
				}
			}

			a {
				width: 200px;
				color: white;
			}
		}

		li:hover > ul,
		li.focus > ul {
			display: block;
		}
	}

	li {
		position: relative;
	}

	a {
		display: block;
		text-decoration: none;
	}
}

/* Small menu. */
// .menu-toggle,
// .main-navigation.toggled ul {
// 	display: block;
// }

// @media screen and (min-width: $tablet_size) {
// 	.menu-toggle {
// 		display: none;
// 	}

// 	.main-navigation ul {
// 		display: flex;
// 	}
// }

// .comment-navigation,
// .posts-navigation,
// .post-navigation {
// 	.site-main & {
// 		margin: 0 0 1.5em;
// 	}

// 	.nav-links {
// 		display: flex;
// 	}

// 	.nav-previous {
// 		flex: 1 0 50%;
// 	}

// 	.nav-next {
// 		text-align: end;
// 		flex: 1 0 50%;
// 	}
// }

.main-navigation.toggled .menu-toggle span:nth-child(1) {
	transform: translateY(13px) translateX(2px) rotate(45deg);
	width: 44px;
	transition: all 0.5s ease-in-out;
}
.main-navigation.toggled .menu-toggle span:nth-child(2) {
	width: 0;
}
.main-navigation.toggled .menu-toggle span:nth-child(3) {
	transform: translateY(-16px) translateX(2px) rotate(-45deg);
	width: 44px;
	transition: all 0.5s ease-in-out;
}

.main-navigation #header-menu {
	display: none; /* Hide the menu by default */
	@media screen and (min-width: $tablet_size) {
		display: flex;
	}
}

.main-navigation.toggled #header-menu {
	display: block; /* Show the menu when toggled */
}
