.event-list {
    margin-top: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; /* Adjusts spacing between items */
    gap: 50px;
}

.event-item {
    position: relative;
    width: calc(50% - 12.5px); /* Half the container width minus half of the gap */
    max-width: 700px;
    overflow: hidden;
}

.event-cover img {
    width: 100%;
    height: 300px;
    object-fit: cover; /* Ensures the image covers the entire area without distortion */
    transition: transform 0.3s ease;
    display: block; /* Removes any potential extra space below the image */
}

.event-title-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.event-item:hover .event-cover img {
    transform: scale(1.1);
}

.event-item:hover .event-title-overlay {
    opacity: 1;
}
