//popular book item style
.featured-books .book-item {
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1 1 200px;
	padding: 1rem;

	h2,
	.book-excerpt {
		width: 220px;
	}
}
//popular book section style
.featured-books .book-list {
	display: flex;
	gap: 1rem;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

//new book item style
.new-books {
	background-color: #4f6b33;
	padding-bottom: 3rem;
	padding-top: 1rem;
	width: 100%;
}

.new-books .book-item {
	display: flex;
	flex-direction: column;
	width: 40%;
	min-width: 520px;
	gap: 1rem;
	flex: 1 1 200px;
	padding: 2rem;

	@media screen and (min-width: $tablet_size) {
		flex-direction: row;
	}
}

.new-books .book-list {
	width: 100%;
	margin: 0 auto;
	display: flex;
	gap: 1rem;
	justify-content: space-evenly;
	flex-wrap: wrap;
	background-color: #c2cfb0;
	padding: 1rem;

	@media screen and (min-width: $tablet_size) {
		width: 80%;
		max-width: 1200px;
	}
}
